<h1>Movie #<%= @movie.id %></h1>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<% the_director = Director.find_by(id: @movie.director_id) %>
<p>Directed By: <%= the_director.name %>, born <%= the_director.dob %></p>

<p> <%= link_to "Leave a review", comments_url(@movie.id) %></p>

<p>Overall Rating:</p>

<p>Other Comments:</p>
